<!-- TODO: When setting min array value at its limit and decreasing max min doesn't update -->

<div class="accordion accordion-flush" id="algorithmConfigurations">
  <div class="accordion-item">
    <h2 class="accordion-header position-relative" id="headingOne">
      <div class="btn-group position-absolute w-100 px-3 dropup" role="group" aria-label="Controls">
        <button type="button" class="btn btn-success flex-grow-1">Start</button>
        <button type="button" class="btn btn-danger flex-grow-1">Stop</button>
        <button type="button" class="btn btn-secondary flex-grow-1">Pause</button>
        <button type="button" class="btn btn-warning flex-grow-1"><<</button>
        <button type="button" class="btn btn-warning flex-grow-1">>></button>
        <button type="button"
                class="btn btn-dark dropdown-toggle flex-grow-1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
        >
          Speed
        </button>
        <ul class="dropdown-menu dropdown-menu-dark text-center">
          <li><a class="dropdown-item" href="#">0.05x</a></li>
          <li><a class="dropdown-item" href="#">0.5x</a></li>
          <li><a class="dropdown-item" href="#">1.0x</a></li>
          <li><a class="dropdown-item" href="#">1.5x</a></li>
          <li><a class="dropdown-item" href="#">2.0x</a></li>
        </ul>
      </div>
      <button class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="false"
              aria-controls="collapseOne"
              [ngSwitch]="category"
      >
        Algorithm Configurations &DoubleLongRightArrow;
        <b *ngSwitchCase="0"> Arrays</b>
        <b *ngSwitchCase="1"> Graphs</b>
        <b *ngSwitchCase="2"> AI</b>
      </button>
    </h2>
    <div id="collapseOne"
         class="accordion-collapse collapse show"
         aria-labelledby="headingOne"
         data-bs-parent="#algorithmConfigurations"
         [ngSwitch]="category"
    >
      <!-- Arrays Algorithms configurations -->
      <form class="accordion-body" *ngSwitchCase="0">
        <!-- Algorithm configurations -->
        <div class="row mb-3">
          <!-- Type -->
          <div class="col-lg-3 mb-2">
            <h5>Type</h5>
            <select class="form-select"
                    aria-label="Types list"
                    name="Algorithm Type"
                    [(ngModel)]="type"
            >
              <option selected value="Sorting">🃏 Sorting</option>
              <option value="Search">🔎 Search</option>
            </select>
          </div> <!-- Type -->
          <!-- Algorithm -->
          <div class="col-lg-3" [ngSwitch]="type">
            <h5>{{ type }} Algorithm</h5>
            <!-- Sorting select -->
            <select class="form-select"
                    aria-label="Algorithms list"
                    *ngSwitchCase="'Sorting'"
            >
              <option selected value="Selection">Selection</option>
              <option value="Bubble">Bubble</option>
              <option value="Insertion">Insertion</option>
              <option value="Merge">Merge</option>
              <option value="Quick">Quick</option>
              <option value="Heap">Heap</option>
              <option value="Counting">Counting</option>
              <option value="Radix">Radix</option>
              <option value="Bucket">Bucket</option>
              <option value="Bingo">Bingo</option>
              <option value="Shell">Shell</option>
              <option value="Tim">Tim</option>
              <option value="Comb">Comb</option>
              <option value="Pigeon">Pigeon</option>
              <option value="Cycle">Cycle</option>
              <option value="Cocktail">Cocktail</option>
              <option value="Strand">Strand</option>
              <option value="Bitonic">Bitonic</option>
              <option value="Pancake">Pancake</option>
              <option value="Bogo">Bogo</option>
              <option value="Gnome">Gnome</option>
              <option value="Sleep">Sleep</option>
              <option value="Stooge">Stooge</option>
              <option value="Tag">Tag</option>
              <option value="Tree">Tree</option>
              <option value="Odd-Even">Odd-Even</option>
              <option value="3-way Merge">3-way Merge</option>
            </select> <!-- Sorting select -->
            <!-- Search select -->
            <select class="form-select"
                    aria-label="Algorithms list"
                    *ngSwitchCase="'Search'"
            >
              <option selected value="Linear">Linear</option>
              <option value="Sentinel">Sentinel</option>
              <option value="Binary">Binary</option>
              <option value="Meta Binary">Meta Binary</option>
              <option value="Ternary">Ternary</option>
              <option value="Jump">Jump</option>
              <option value="Interpolation">Interpolation</option>
              <option value="Exponential">Exponential</option>
              <option value="Fibonacci">Fibonacci</option>
              <option value="Obiquitous Binary">Obiquitous Binary</option>
            </select> <!-- Search select -->
          </div> <!-- Algorithm -->
        </div>
        <!-- Data configurations -->
        <div class="row">
          <h5>Data options</h5>
          <!-- Array Size -->
          <div class="col-lg-6">
            <label for="ArraySize" class="form-label">Size {{ arrayDataConfig.n_size_array }}</label>
            <input type="range"
                   class="form-range"
                   id="ArraySize"
                   name="ArraySize"
                   [min]="algconfigComponent.ARRAY_MIN"
                   [max]="algconfigComponent.ARRAY_MAX"
                   [(ngModel)]="arrayDataConfig.n_size_array"
            >
          </div> <!-- Array Size -->
          <!-- Min Array Value -->
          <div class="col-lg-3">
            <label for="MinValue" class="form-label">Min value {{ arrayDataConfig.min }}</label>
            <input type="range"
                   class="form-range"
                   id="MinValue"
                   name="MinValue"
                   [min]="algconfigComponent.ARRAY_VAL_MIN"
                   [max]="arrayDataConfig.max-1"
                   [(ngModel)]="arrayDataConfig.min"
            >
          </div> <!-- Min Array Value -->
          <!-- Max Array Value -->
          <div class="col-lg-3">
            <label for="MaxValue" class="form-label">Max value {{ arrayDataConfig.max }}</label>
            <input type="range"
                   class="form-range"
                   id="MaxValue"
                   name="MaxValue"
                   [min]="10"
                   [max]="algconfigComponent.ARRAY_VAL_MAX"
                   [(ngModel)]="arrayDataConfig.max"
            >
          </div> <!-- Max Array Value -->
          <!-- Update/Generate Array -->
          <div class="col-lg-3 mt-2">
            <button class="w-100 btn btn-primary"
                    (click)="generateArray()"
            >
              Generate Array
            </button>
          </div>
        </div>
      </form> <!-- Arrays Algorithms configurations -->
    </div>
  </div>
</div>
